*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightblue;
}
#jumbotron{
    height: 100px;
    width: 100%;
    background-color: gray;
}
.instructions{
    position: absolute;
    margin-left: 80px;
    top: 250px
    
}
h1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    top: 30%;
    
}

#game{
    background-color: white;
    width: 800px;
    height: 250px;
    border: 1px solid black;
    margin: auto;

    
}
#character{
    position: relative;
    top: 230px;
    left: 10px;
}
.jump{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 230px}
    30%{top: 150px}
    70%{top: 150px}
    100%{top: 230px}

}

.hidden{
    top: 0px;
    left: 0px;
    opacity: 0;
}
#attack{
    position: relative;
    left: -150px;
    top: 140px;
    
}
.leftAttack{
    transform-origin: 0 0;
    transform: rotate(180deg);
}
.heart{
    list-style-type: none;
    top:50%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}
.hpContainer{
    background-color: darkgray;
    width: 800px;
    height: 50px;
    border: 1px solid black;
    margin: auto;
}

#characterHp{
    position: relative;
    top:60%;
    float: left;
    color: red;
}
#enemyHp{
    position: relative;
    top:60%;
    float: right;
    color: green;
}


.enemy1{
    position: relative;
    top: 210px;
    left: 600px;
}

.enemy1Jump{
    animation: enemy1Jump 500ms;
}
@keyframes enemy1Jump{
    0%{top: 210px}
    30%{top: 160px}
    70%{top: 160px}
    100%{top: 210px}

}

.win{
    position: relative;
    left: 350px;
    font:bold;
    font-size: x-large;
}
.lose{
    position: relative;
    left: 350px;
    font:bold;
    font-size: x-large;
}